@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Enriqueta:wght@500&family=Zilla+Slab:wght@500&display=swap");

:root {
    --background-color-second: #22B2A5;

    --background-color: #FFF0E9;

    --body-color:#dfd0c9; 
    
    --border-color: #4A4A4A; 

    --font-secondary: 'Zilla Slab', serif;

    --font-primary: 'Enriqueta', serif;

    --link-color: #551A8B;

}

body {
    background:var(--body-color);
    color: var(--font-color);
    font-family: var(--font-secondary); 
    font-size: 1.35rem;
    margin:0;
    text-align:center;
};

.paragraph {
    font-family: var(--font-secondary);
}

.links {
    font-family: var(--font-secondary); 
}

h1, h2, h3, h4, h5, h6 {
    color: var(--base-font-color);
    font-family: var(--font-primary);

};



@import '/src/css/_settings.css'; 
@import '/src/css/_typography.css';
@import '/src/css/_header.css';
@import '/src/css/title.css';
@import '/src/css/_cards.css';
@import '/src/css/_info.css';
@import '/src/css/_links.css';
@import '/src/css/_body.css';
@import '/src/css/_nav-header.css';
@import '/src/css/_introduction.css';
@import '/src/css/_footer.css';
@import '/src/css/_projects.css';
@import '/src/css/_skills.css';
@import '/src/css/lists.css';
@import '/src/css/_image.css';
@import '/src/css/_text.css';
 


