.card { 
    background: var(--background-color);
    padding:1rem;
    padding-bottom:3rem;
    margin:0.5rem;
    margin-bottom:1rem;
    text-align: center;
}

.card:hover {
    -webkit-box-shadow: 3px 0px 18px 25px rgba(0,0,0,0.74); 
    box-shadow: 3px 0px 18px 25px rgba(0,0,0,0.74);
    transform: translateY(-8px);
}


@media screen and (min-width:801px) {


    .card {  
        -webkit-box-shadow: 3px 0px 21px 16px rgba(0,0,0,0.7); 
        box-shadow: 3px 0px 21px 16px rgba(0,0,0,0.7);
        box-sizing:border-box;
        float: center;
        margin:0.5rem;
        margin-bottom:5rem;
        line-height: 2rem;
        width: 30%;
    }
   
    .card-left {
        float: left; 
        width: 30%; 
 
    }
    .card-center {
        float: right; 
        width: 30%; 
 
    }
    .card-right{ 
        display: inline-block; 
        width: 30%; 
    }
}