.main-info {
    background-color: var(--background-color);
    margin-bottom:3rem;
    margin-top:3rem;
    padding-bottom: 1.7rem;
    padding-top: 2rem;
    -webkit-box-shadow: 3px 0px 21px 16px rgba(0,0,0,0.7); 
    box-shadow: 3px 0px 21px 16px rgba(0,0,0,0.7);
}
