nav {
    display: flex;
    justify-content: space-around;
    margin-bottom:2rem;
}

@media screen and (min-width:801px) {
  

    nav {
        margin-top:4rem;
        margin-bottom:5rem;
    }

}