footer {
    align-items: center;
    background: var(--background-color-second);
    color: var(--background-color);
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    padding:2rem;
    margin-bottom:2rem;
}