:root {
    --background-color-second: #22B2A5;

    --background-color: #FFF0E9;

    --body-color:#dfd0c9; 
    
    --border-color: #4A4A4A; 

    --font-secondary: 'Zilla Slab', serif;

    --font-primary: 'Enriqueta', serif;

    --link-color: #551A8B;

}


