:root {

    --active-color: #3A405A;

    --background-color-second: #22B2A5;

    --background-color: #fbf7f5;

    --body-color:#dfd0c9;
    
    --border-color: #4A4A4A; 

    --font-primary: 'Source Serif Pro', serif, 'Martel', sans-serif;

    --font-secondary: 'Castoro', serif, 'Enriqueta', serif, 'Lato', sans-serif;

    --link-color: #551A8B;

    --main-color: #00A6A6;

    
}


