*{
    color: var(--border-color);
    font-family:var(--font-secondary);
    font-size:1.1rem;
    line-height: 2rem;
    margin:0;
    text-align: center;
}

p {
    line-height: 2rem;
}

@media screen and (max-width:699px) {

    body {
        background-color: var(--body-color); 
    }
    h3 {
        color: var(--link-color);
        font-weight: bolder;
        font-size: 1.7rem;
        padding:2rem;
    }
}

@media screen and (min-width:801px) {
    *{
        font-size:1.3rem;
        margin:2; 
    }

    body {
        background-color: var(--body-color); 
    }

}

@media screen and (min-width:800px) and (max-width:1200px) 
    {

        p  {
            font-size: 1rem;
        }

    }

@media screen and (min-width:801px) {
  
    p {
        line-height: 3rem;
    }

}


