
ul { 
    list-style-type: none;
    margin-right:3%; 
    -webkit-transition: 2s; /* For Safari 3.0 to 6.0 */
    transition: 2s; /* For modern browsers */  
}

@media screen and (min-width:801px) {
  
    ul { 
        margin-top:10%;
        transform: rotate(90deg);
    }
}

@media screen and (min-width:1100px) and (max-width:1300px) 
    {
        ul {
            margin-right: 10%;
        }

    }

@media screen and (min-width:1500px) {

    ul {
        margin:10;
    }
}
