@import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600&family=Lato&family=Zilla+Slab:ital,wght@0,300;0,500;0,700;1,500;1,700&display=swap");

:root {

    --active-color: #EC4C77;

    --background-color-second: #22B2A5;

    --background-color: #FFF0E9;

    --body-color:#dfd0c9; 
    
    --border-color: #4A4A4A; 

    --font-primary: 'Enriqueta', serif, 'Lato', sans-serif;

    --font-secondary: 'Zilla Slab', serif, 'Enriqueta', serif, 'Lato', sans-serif;

    --link-color: #551A8B;

}
*{
    font-family:var(--font-secondary);
    font-size:1.1rem;
    line-height: 2rem;
    margin:0;
    text-align: center;

}
a:active, a:hover {
    color: var(--active-color);

};

body {
    background:#dfd0c9; 
    color: var(--font-color);
    font-family: var(--font-secondary); 
    font-size: 1.35rem;
    margin:0;
    text-align: center;
}

.card { 
    background: var(--background-color);
    border: double 1rem var(--border-color);
    border-radius: 3rem;
    padding:1rem;
    padding-bottom:3rem;
    margin:1.5rem;
    text-align: center;
}

footer {
    align-items: center;
    background: var(--background-color-second);
    clear: both;
    color: var(--background-color);
    font-size: 1rem;
    padding:3rem;
    margin-top:3rem;
}

.images {
    display: none;
}

h1, h2 {
    font-size: 1.4rem;
    line-height: 4rem;
    margin:0.6rem;
    color: var(--link-color);
}

h2:active, h2:hover,
h3:active, h3:hover {
    color: var(--active-color);
};

h3, h4{
    font-size: 1.6rem;
    margin:2rem;
    color: var(--link-color);   
}

.nav-header {
    align-items: center;
    background: var(--background-color-second);
    color: var(--background-color);
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    padding:2rem;
    margin-bottom:2rem;
}

.introduction { 
    background: var(--background-color);
    border: solid 1rem var(--border-color);
    border-radius: 3rem;
    padding:1.5rem;
    margin:2rem;
    margin-bottom:4rem;
    margin-top:3rem;
    text-align: left;
}


.links {
    font-family: var(--font-secondary); 
}

.main-info {
    background: var(--background-color);
    border: double 1rem var(--border-color);
    border-radius: 3rem;
    padding:1rem;
    margin:2rem;
}

.skills {
    line-height: 2rem;;

}

.text {
    border-radius: 2rem;
    line-height: 2rem;
    text-align: center;
}


ul { 
    list-style-type: none;
    background: var(--background-color);
    border: solid 1rem var(--background-color-second);
    border-radius: 3rem;
    padding:1rem;
    margin:2rem;
}


@media screen and (min-width:700px) {
    *{
        font-size:1.3rem;
        margin:0;  
    }
    .card {
        margin: 0rem;
        padding:2rem;
    }

    .card-left {
        float: left; 
        width: 25%; 
    }
    .card-right {
        float: right; 
        width: 25%; 
    }
    .card-center{ 
        display: inline-block; 
        width: 25%; 
    }

    h1 {
        font-size: 3.5rem;
        line-height: 7rem;
    }
    
    h2 {
        font-size: 2.5rem;
        padding-bottom:2rem;
        margin-top:1.5rem;
        margin-bottom:1.5rem;
    }

    .images {
        border-radius: 3rem;
        display: flex;
        float: right;
        height:100%;
        width:90%;
    }

    .introduction{
        display: flex;
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .main-info {
        margin-left: 7rem;
        margin-right: 7rem;
    }
    
    .text{
        display: flex;
        align-items:center;
        justify-content: flex-end;
        line-height: 4rem;
        margin:3rem;
    }

    .skills {
        box-sizing:border-box;
        float: left;
        width: 25%;
        margin:0;
        margin-bottom:3rem;
        line-height: 2rem;
    }
}

@import '_settings.css';

@import './_typography.css';
@import './_header.css';
@import './title.css';
@import './_cards.css';
@import './_info.css';
@import './_links.css';
@import './_body.css';
@import './_nav-header.css';
@import './_introduction.css';
@import './_footer.css';
@import './_projects.css';
@import './_skills.css';
@import './lists.css';
@import './_image.css';
@import './_text.css';
