@import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600&family=Lato&family=Zilla+Slab:ital,wght@0,300;0,500;0,700;1,500;1,700&display=swap");

:root {

    --active-color: #3A405A;

    --background-color-second: #3A405A;

    --background-color: #FFF0E9;

    --body-color:#dfd0c9; 
    
    --border-color: #4A4A4A; 

    --font-primary: 'Source Serif Pro', serif, 'Martel', sans-serif;

    --font-secondary: 'Castoro', serif, 'Enriqueta', serif, 'Lato', sans-serif;

    --link-color: #000000;

}
*{
    color: var(--border-color);
    font-family:var(--font-secondary);
    font-size:1.1rem;
    line-height: 2rem;
    margin:0;
    text-align: center;
}

a:active, a:hover {
    color: var(--link-color); 
    font-weight: bold;
    color: #000;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}
body {
    background-color: var(--body-color); 
    color: var(--font-color);
    font-family: var(--font-secondary); 
    font-size: 1.35rem;
}

.card { 
    background: var(--background-color);
    padding:1rem;
    padding-bottom:3rem;
    margin:1rem;
    text-align: center;

}

.card:hover, ul:hover {
    -webkit-box-shadow: 3px 0px 18px 25px rgba(0,0,0,0.74); 
    box-shadow: 3px 0px 18px 25px rgba(0,0,0,0.74);
    transform: translateY(-8px);

}

.contact {
    margin-top:4rem;
    display: flex;
    justify-content: space-around;
}

.description {
    line-height: 1.7;
    padding-top: 2rem;
}

footer {
    align-items: center;
    background: var(--background-color-second);
    clear: both;
    color: var(--background-color);
    font-size: 1.35rem;
    padding:3rem;
    margin-top:3rem;
}

.images {
    border: solid 0.5rem var(--background-color-secondary);
    border-radius: 1.5rem;
    height: 12rem;
    margin:2rem;
    object-fit:cover;
    text-align: center;  
    width:12rem;
}

h1, h2 {
    color: var(--link-color);
    font-family:var(--font-primary);
    font-size: 1.4rem;
    line-height: 4rem;
    margin:0.6rem;
}

h3, h4 {
    color: var(--gradient-primary);
    font-family:var(--font-primary);
    font-size: 1.6rem;
    font-weight: bolder;
}

.introduction { 
    background: var(--background-color);
    border: solid 1rem var(--border-color);
    border-radius: 3rem;
    padding:1.5rem;
    margin:2rem;
    margin-bottom:4rem;
    margin-top:3rem;
    text-align: left;
}

.links {
    font-family: var(--font-secondary); 
    padding:1rem;
}

.main-info {
    background: var(--background-color);
    padding:1rem;
    padding-right:1.3rem;
    padding-left:1.3rem;
    margin-bottom:3rem;
    margin-top:3rem;
    -webkit-box-shadow: 3px 0px 21px 16px rgba(0,0,0,0.7); 
    box-shadow: 3px 0px 21px 16px rgba(0,0,0,0.7);
}

.mail {
    color: var(--font-secondary);
    font-size: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom:2rem;
}


p {
    line-height: 2rem;
}


svg {
    background-color: var(--body-color);
    border-radius: 1rem;
    height: 2.5rem;
    padding:0;
    width: 2.5rem;
    
}

svg:active, svg:hover {
    fill: var(--link-color);
    background-color: var(--background-color);
}

.skills {
    font-family: var(--font-secondary);
}

.text {
    border-radius: 2rem;
    line-height: 2rem;
    text-align: center;
}

.top {
    margin:3rem;
}

ul { 
    list-style-type: none;
    background: var(--background-color);
    border: solid 1rem var(--background-color-second);
    border-radius: 3rem;
    padding:1rem;
    margin:2rem;
}


@media screen and (max-width:699px) {

    body {
        background-color: var(--body-color); 
    }
    h3 {
        color: var(--link-color);
        font-weight: bolder;
        font-size: 1.7rem;
        padding:2rem;
    }
}

@media screen and (min-width:800px) and (max-width:1200px) 
    {
        h1 {
            font-size: 2rem;
            line-height: 2.5;

        }

        .main-info {
            margin-left: 4rem;
            margin-right: 4rem;
        }
        p, li {
            font-size: 1rem;
        }

        .text {
            font-size: 1rem;
            line-height: 2.4;
        }
    }


@media screen and (min-width:801px) {
    *{
        font-size:1.3rem;
        margin:2; 
    }

    body {
        background-color: var(--body-color); 
    }

    .card {  
        -webkit-box-shadow: 3px 0px 21px 16px rgba(0,0,0,0.7); 
        box-shadow: 3px 0px 21px 16px rgba(0,0,0,0.7);
    }
   
    .card-left {
        float: left; 
        width: 30%; 
 
    }
    .card-center {
        float: right; 
        width: 30%; 
 
    }
    .card-right{ 
        display: inline-block; 
        width: 30%; 
    }
    #contact {
        font-size: 3rem;

        margin-top:6.5rem;
        margin-bottom:0;
    }
    h2 {
        font-size: 2.5rem;
        padding-bottom:2rem;
        margin-top:1.5rem;
        margin-bottom:1.5rem;
    }

    h3 {
        color: var(--link-color);
        font-weight: bolder;
        font-size: 1,5rem;
        padding:1rem;
    }

    .images {
        height: 7rem;
        object-fit:cover;
        margin:0.5rem;
        width: 7rem;
    }

    .introduction{
        display: flex;
        margin-left: 7rem;
        margin-right: 7rem;
    }
    
    .mail {
        font-size: 2.4rem;
    }

    nav {
        margin-top:4rem;
        margin-bottom:9rem;
    }

    
    .links-nav {
        font-size: 2rem;
        ;
    }

    p {
        line-height: 3rem;
    }
    .text{
        align-items:center;
        display: flex;
        justify-content: flex-end;
        margin:3rem;
    }

    .card {
        box-sizing:border-box;
        float: center;
        margin:0.5rem;
        margin-bottom:3rem;
        line-height: 2rem;
        width: 30%;
    }

    svg {
        height: 5rem;
        width: 5rem;
    }

}

@media screen and (max-width:1199px) {
    .image-code {
        display: none;
    }
}


@media screen and (min-width:1201px) {
    .images {
        height:13rem;
        margin:1rem;
        object-fit:cover;
        width:13rem;
    }
    
    .main-info {
        margin-left: 7rem;
        margin-right: 7rem;
    }
    h1 {
        font-size: 3.5rem;
        line-height: 7rem;
    }
    
    .text {
        font-size: 1.3rem;
        line-height: 4;
    }

}

@media screen and (min-width:1300px) {

    .image-code {
        height:23rem;
        margin:1rem;
        object-fit:cover;
        width:23rem;

    }
}
@media screen and (max-width:400px) {

    .images {
        height:7rem;
        margin:1rem;
        object-fit:cover;
        width:7rem;

    }
}


@import '_settings.css';
@import '_body.css';
@import '_typography.css';
@import './_header.css';
@import './title.css';
@import './_cards.css';
@import './_info.css';
@import './_links.css';
@import './_body.css';
@import './_nav-header.css';
@import './_introduction.css';
@import './_footer.css';
@import './_projects.css';
@import './_skills.css';
@import './lists.css';
@import './_image.css';
@import './_text.css';
