.main-info {
    background: var(--background-color);
    border: double 1rem var(--border-color);
    border-radius: 3rem;
    padding:1rem;
    margin:2rem;
}


@media screen and (min-width:700px) {

    .main-info {
        margin-left: 7rem;
        margin-right: 7rem;
    }
    
}
