.nav-header {
    background: var(--background-color-second);
    color: var(--background-color);
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:2rem;
    margin-bottom:2rem;
   
}